<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>轻分析</title>
  <!-- 引入Bootstrap CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<script th:inline="javascript">
    var dateMoneyList = [[${dateMoneyList}]];
    var currentRoomId = [[${currentRoomId}]];
    var pageIndex = [[${page}]];
    var barSize = dateMoneyList.length;
</script>

<div id="app">

    <el-select v-model="tarGetOptionValue" placeholder="请选择" @change="handleTarGetSelectChange" style="width: 100%;">
        <el-option
                v-for="item in tarGetOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value">
        </el-option>
    </el-select>

    <div  v-show="tarGetOptionValue=='1'">
        <div th:replace="~{model/lineChartPage :: lineChartPage}"></div>
    </div>
<!--    <div  v-show="tarGetOptionValue=='2'">-->
<!--        <div th:replace="~{model/parChartPage :: parChartPage}"></div>-->
<!--    </div>-->

    <div v-show="tarGetOptionValue=='3'">
        <el-tabs v-model="activeName"  type="card">
            <el-tab-pane label="盲盒数据" name="first">
                <div th:replace="~{model/boxDataPage :: boxDataPage}"></div>
            </el-tab-pane>
            <el-tab-pane label="礼物清单" name="second" >

                <el-tabs v-model="activeName2"  @tab-click="handleClick"  type="card">
                    <el-tab-pane label="数据" name="second_data">
                        <div th:replace="~{model/giftDataPage :: giftDataPage}"></div>
                    </el-tab-pane>
                    <el-tab-pane label="图表" name="second_chart">
                        <div th:replace="~{model/parChartPage :: parChartPage}"></div>
                    </el-tab-pane>
                </el-tabs>

            </el-tab-pane>
<!--            <el-tab-pane label="礼物清单" name="thrid">-->

<!--            </el-tab-pane>-->
        </el-tabs>
    </div>


</div>
<style>
    /* 使图表容器宽度自适应 */
    #barChart {
        width: 100%;
        height: 400px;
    }
    .titleCenter {
        text-align: center;
    }
    [v-cloak] {
        display: none !important;
    }
    .el-table .warning-row {
        background: oldlace;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }

</style>
<!-- 引入Vue.js和ECharts -->
<script th:src="@{/js/vue.js}"></script>
<script th:src="@{/js/echarts5.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.zh-CN.min.js}"></script>
<script th:src="@{/js/macarons.js}"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  // Vue.js 实例
  new Vue({
      el: '#app',
      data: {
          activeName: 'first',
          tarGetOptions: [{
              value: '1',
              label: '七日流水分析'
          }, {
              value: '3',
              label: '直播数据分析'
          }],
          tarGetOptionValue: '',
          // 模拟的数据
          chartData: {
              xAxisData: [],
              seriesData: []
          },
          // 初始化数据
          barData: {
              barMax: 0,
              categories: [],
              data: []
          },
          pieData: [
          ],
          isMobile: false, // 是否移动端
          barChartLoading: false, // 是否移动端
          chartWidth: '100%', // 初始宽度
          chartHeight: '400px', // 初始高度
          dateMoneyList: [],
          barChart: null,
          lineChart: null,
          boxChart: null,
          enterRoomDataLineChart: null,
          pieChart: null,
          barOption: {
              xAxis: {
                  max: 'dataMax'
              },
              yAxis: {
                  type: 'category',
                  data: [],
                  inverse: true,
                  animationDuration: 300,
                  animationDurationUpdate: 300,
                  max: barSize, // only the largest 3 bars will be displayed
                  axisLabel: {
                      interval: 0, // 显示所有标签
                      rotate: 0
                  }

              },
              grid: {
                  left: '5%',//原来是10%，修改为20%
                  containLabel: true,
              },
              series: [
                  {
                      realtimeSort: true,
                      name: '米',
                      type: 'bar',
                      data: [],
                      label: {
                          show: true,
                          position: 'right',
                          valueAnimation: true
                      }
                  }
              ],
              legend: {
                  show: true
              },
              animationDuration: 3000,
              animationDurationUpdate: 3000,
              animationEasing: 'linear',
              animationEasingUpdate: 'linear'
          },
          pieOption: {
              title: {
                  text: '',
                  left: 'center'
              },
              tooltip: {
                  trigger: 'item',
                  formatter: '{b}: {c}{a}  ({d}%)'
              },
              series: [
                  {
                      name: '米',
                      type: 'pie',
                      radius: '50%',
                      data: [],
                      emphasis: {
                          itemStyle: {
                              shadowBlur: 10,
                              shadowOffsetX: 0,
                              shadowColor: 'rgba(0, 0, 0, 0.5)'
                          }
                      }
                  }
              ]
          },
          lineOption: {
              xAxis: {
                  type: 'category',
                  data: [],
                  axisLabel: {
                      rotate: 45 // 旋转角度
                  }
              },
              yAxis: {
                  type: 'value'
              },
              series: [{
                  data: [],
                  type: 'line',
                  label: {
                      show: true,
                      position: 'top',
                      textStyle: {
                          fontSize: 10
                      }
                  },
                  markLine: {
                      symbol: ['none', 'none'],
                      data: [
                          {
                              type: 'average',
                              name: '平均恰米',
                              label: {
                                  show: true,
                                  position: 'middle',
                                  formatter: '平均{c}',
                                  normal: {
                                      fontSize: 10
                                  }
                              }
                          },
                          {
                              type: 'max',
                              name: '最大值',
                              label: {
                                  show: true,
                                  position: 'middle',
                                  formatter: '最高{c}',
                                  normal: {
                                      fontSize: 10
                                  }
                              }
                          }
                      ]
                  }
              }]
          },
          enterRoomDataLineOption: {
              xAxis: {
                  type: 'time',
                  data: [],
                  axisLabel: {
                      rotate: 45 // 旋转角度
                  }
              },
              yAxis: {
                  type: 'value'
              },
              series: [{
                  data: [],
                  type: 'line',
                  label: {
                      show: true,
                      position: 'top',
                      textStyle: {
                          fontSize: 10
                      }
                  },
                  markLine: {

                      symbol: ['none', 'none'],
                      data: [
                          {
                              type: 'average',
                              name: '平均恰米',
                              label: {
                                  show: true,
                                  position: 'middle',
                                  formatter: '平均{c}',
                                  normal: {
                                      fontSize: 10
                                  }
                              }
                          },
                          {
                              type: 'max',
                              name: '最大值',
                              label: {
                                  show: true,
                                  position: 'middle',
                                  formatter: '最高{c}',
                                  normal: {
                                      fontSize: 10
                                  }
                              }
                          }
                      ]
                  }
              }]
          },
          boxOption: {
              legend: {},
              tooltip: {},
              dataset: {
                  source: [
                      ['product', '数量', '投入', '盈利']
                  ]
              },
              grid: {
                  containLabel: true
              },
              xAxis: {
                  type: 'category',
                  axisLabel: {
                      interval: 0, // 显示所有标签
                      formatter: function (value) {
                          return value.split("").join("\n") //垂直显示
                      },
                  }
              },
              yAxis: {},
              series: [{ type: 'bar' }, { type: 'bar' }, { type: 'bar' }]
          },
          boxDataList: [],
          giftDataList: [],
          total: 0,
          todayTotal: 0,
          enterNumEverMin: 0,
          enterNumEverHour: 0,
          enterNumEverDay: 0,
          loading: false,
          giftLoading: false,
          selectedDate: "",
          selectedBoxDate: "",
          selectedGiftDataDate: "",
          activeName2: "second_data",
          activeName: "first",
          tarGetOptionValue: pageIndex
          // selectedDateOption: "d1",
      },
      create() {
          // this.drawPieChart();

      },
      mounted() {
          this.dateMoneyList = dateMoneyList;
          var xAxisDataEnd = [];
          var seriesDataEnd = [];
          this.barData.barMax = this.dateMoneyList.length;
          this.dateMoneyList.forEach(item => {
              xAxisDataEnd.push(item.date);
              seriesDataEnd.push(item.money);
              this.total += item.money;
          })
          this.lineOption.xAxis.data = xAxisDataEnd;
          this.lineOption.series[0].data = seriesDataEnd;


          // 判断是否移动端
          this.isMobile = this.detectMobile();
          // // 监听窗口大小变化，重新计算图表大小
          window.addEventListener('resize', this.handleResize);
          // 使用 nextTick 确保 DOM 更新完成后执行操作

          this.drawLineChart();
          //
          // this.$nextTick(function () {
          //     this.drawPieChart();
          // });

          // this.drawPieChart();
          // this.drawEnterRoomDataLineChart();
          that = this;
          // setInterval(() => {
          //     that.updateEnterRoomDataLineChartDataByDate("");
          // }, 5000);


          this.lineChart.on('click', function (params) {
              // params 包含了点击事件的相关信息，如点击的系列（series）、数据点（data）等
              // 判断点击的是否为graph系列的节点
              var data = params.data; // 获取节点的数据
              // 执行你需要的操作，比如弹窗显示节点信息等
              console.log('Node clicked:', data);
              console.log('Node clicked params:', params);
              // if (params.componentType === 'series' && params.seriesType === 'graph') {
              //
              // }
          });
      },
      methods: {
          handleClick(tab, event) {
              console.log(tab, event);
              // this.drawPieChart();
          },
          tableRowClassName({row, rowIndex}) {
              if(rowIndex / 2 == 0){
                  return 'warning-row';
              }else {
                  return 'success-row';
              }
          },
          getDate(){
              const now = new Date();
              const year = now.getFullYear();
              const month = now.getMonth() + 1;
              const day = now.getDate();
              const hour = now.getHours();
              const minute = now.getMinutes();
              const second = now.getSeconds();
              return year+"-"+month+"-"+day+" "+hour+":"+minute+":"+second
          },
          // 使用jQuery的Ajax方法获取最新数据
          updateEnterRoomDataLineChartDataByDate(date) {
              that = this;
              $.ajax({
                  url: '/analyze/getEnterRoomData?&roomId='+currentRoomId, // 后端接口地址
                  type: 'GET',
                  success: function (data) {
                      // 更新页面中的数据
                      // console.log("data " + JSON.stringify(data));
                      // console.log("data " + JSON.stringify(data.dataListByMinute));

                      that.enterNumEverMin = data.dataListByMinute.length;
                      that.enterNumEverHour = data.dataListByHour.length;
                      that.enterNumEverDay = data.dataListByDay.length;
                  },
                  error: function () {
                      console.log('获取数据失败');
                      that.pieChart.hideLoading();
                  }
              });
          },
          updateBoxChartDataByDate(date) {
              that = this;
              this.loading = true;
              $.ajax({
                  url: 'analyze/getEveryOneRoomBalance?date='+date+'&roomId='+currentRoomId, // 后端接口地址
                  type: 'GET',
                  success: function (data) {
                      // 更新页面中的数据
                      console.log("getEveryOneRoomBalance " + JSON.stringify(data));
                      // boxOption.dataset.source
                      // ['用户', '数量', '投入', '盈利']
                      // var source =  []
                      // data.forEach(item => {
                      //     var arry = []
                      //     arry.push(item.user_name);
                      //     arry.push(item.balance/10);
                      //     arry.push(item.actualPrice/10);
                      //     arry.push(item.num);
                      //     source.push(arry);
                      // })

                      that.boxDataList = data;

                      // console.log("data " + JSON.stringify(data.dataListByMinute));
                      // that.$nextTick(function () {
                      //     that.boxOption.dataset.source = source;
                      //     that.boxChart.setOption(that.boxOption);
                      // });
                      that.loading = false;
                  },
                  error: function () {
                      console.log('获取数据失败');
                      that.loading = false;
                  }
              });
          },
          getEveryOneRoomGift(date) {
              that = this;
              this.giftLoading = true;
              $.ajax({
                  url: 'analyze/getEveryOneRoomGift?date='+date+'&roomId='+currentRoomId, // 后端接口地址
                  type: 'GET',
                  success: function (data) {
                      // 更新页面中的数据
                      console.log("getEveryOneRoomGift " + JSON.stringify(data));
                      that.giftDataList = data;
                      that.giftLoading = false;
                  },
                  error: function () {
                      console.log('获取数据失败');
                      that.giftLoading = false;
                  }
              });
          },
          updateBarChartDataByDate(date) {
              this.drawPieChart();
              this.pieChart.showLoading();

              that = this;
              $.ajax({
                  url: '/analyze/getDieData?date=' + date+"&roomId="+currentRoomId, // 后端接口地址
                  type: 'GET',
                  success: function (data) {
                      // 更新页面中的数据
                      console.log("data " + JSON.stringify(data));

                      var barCategories = [];
                      var barData = [];
                      var pieData = [];
                      // that.barData.barMax = data.length;
                      // that.pieData = [];
                      that.todayTotal = 0;
                      data.forEach(item => {
                          barCategories.push(item.name);
                          barData.push(item.price);
                          var obj = {};
                          obj.name = item.name;
                          obj.value = item.price;
                          pieData.push(obj);
                          that.todayTotal = that.todayTotal + item.price;
                      })

                      that.$nextTick(function () {
                          // that.barOption.series[0].data = barData;
                          // that.barOption.yAxis.data = barCategories;
                          that.pieOption.series[0].data = pieData;
                          // that.barChart.setOption(that.barOption);
                          that.pieChart.setOption(that.pieOption);
                          that.pieChart.hideLoading();
                      });

                      // $('#data-container').html('<p>' + data + '</p>');
                  },
                  error: function () {
                      console.log('获取数据失败');
                      that.pieChart.hideLoading();
                  }
              });
          },
          updateBarChartData() {
              // var data = barOption.series[0].data;
              // for (var i = 0; i < data.length; ++i) {
              //     if (Math.random() > 0.9) {
              //         data[i] += Math.round(Math.random() * 2000);
              //     } else {
              //         data[i] += Math.round(Math.random() * 200);
              //     }
              // }
              // this.barChart.setOption(this.barOption);
              // this.barChartLoading = false;
          },
          handleSelectDateChange(value) {
              console.log('选项变化了，当前选择的是：', this.selectedDate);
              this.barChartLoading = true;
              this.updateBarChartDataByDate(this.selectedDate);
              // 取消柱状图
              // this.barChart.setOption(this.barOption);
              // this.boxChart.setOption(this.pieOption);
              this.pieChart.setOption(this.pieOption);


              this.barChartLoading = false;
          },
          handleSelectBoxDateChange(value) {
              console.log('选项变化了，当前选择的是：', this.selectedBoxDate);
              this.updateBoxChartDataByDate(this.selectedBoxDate);
          },
          handleSelectGiftDateChange(value) {
              console.log('选项变化了，当前选择的是：', this.selectedGiftDataDate);
              this.getEveryOneRoomGift(this.selectedGiftDataDate);
          },
          handleTarGetSelectChange() {
              // 在这个方法中可以处理select选项变化的逻辑
              console.log('选项变化了，当前选择的是：', this.tarGetOptionValue);

              if (this.tarGetOptionValue == "1") {
                  this.$nextTick(function () {
                      that.drawLineChart();
                  });
              }
              that = this;
              if (this.tarGetOptionValue == "2") {
                  this.$nextTick(function () {
                      const currentDate = new Date();
                      const year = currentDate.getFullYear();
                      const month = (currentDate.getMonth() + 1).toString().padStart(2, '0');
                      const day = currentDate.getDate().toString().padStart(2, '0');
                      const formattedDate = year + '-' + month + '-' + day;
                      console.log("chart "+formattedDate);
                      that.selectedDate = formattedDate;
                      that.drawPieChart();
                      // that.updateBarChartDataByDate(formattedDate);
                  });
              }

              if (this.tarGetOptionValue == "3") {
                  this.$nextTick(function () {
                      const currentDate = new Date();
                      const year = currentDate.getFullYear();
                      const month = (currentDate.getMonth() + 1).toString().padStart(2, '0');
                      const day = currentDate.getDate().toString().padStart(2, '0');
                      const formattedDate = year + '-' + month + '-' + day;
                      console.log("formattedDate "+formattedDate);
                      that.selectedBoxDate = formattedDate;
                      that.selectedGiftDataDate = formattedDate;
                      that.updateBoxChartDataByDate(formattedDate);
                      that.getEveryOneRoomGift(formattedDate);

                      // that.updateBarChartDataByDate(formattedDate);
                  });
              }
          },
          drawPieChart(){
              // 使用ECharts绘制饼图
              var that = this;
              that.pieChart = echarts.init(document.getElementById('pieChart'), "macarons");


              // this.pieChart.setOption(this.pieOption);
          },
          drawBoxPieChart(){
              // 使用ECharts绘制饼图
              this.boxChart = echarts.init(document.getElementById('boxChart'), "macarons");

              // this.pieChart.setOption(this.pieOption);
          },
          drawBarChart() {
              this.barChart = echarts.init(document.getElementById('barChart'), "macarons");
              // this.barOption =
              that = this;
              that.updateBarChartData();
              // setInterval(function() {
              //     that.updateBarChartData();
              // }, 3000);
              // 使用刚指定的配置项和数据显示图表。
              // barChart.setOption(barOption);
          },
          drawEnterRoomDataLineChart(){
          //    enterRoomDataLineOption
              // enterRoomDataLineChart
              this.enterRoomDataLineChart = echarts.init(document.getElementById('enterRoomDataLineChart'));
              this.enterRoomDataLineChart.setOption(this.enterRoomDataLineOption);
          },
          drawLineChart() {

              // 基于准备好的dom，初始化echarts实例
              this.lineChart = echarts.init(document.getElementById('chart'), "macarons");
              this.lineChart.showLoading();
              // 使用刚指定的配置项和数据显示图表。
              this.lineChart.setOption(this.lineOption);
              this.lineChart.hideLoading();
          },
          // 窗口大小变化时重新绘制图表
          resizeChart() {
              if (this.lineChart) {
                  this.lineChart.resize();
              }
          },
          handleResize() {
              // 重新计算图表大小
              this.chartWidth = this.isMobile ? '100%' : '90%';
              this.chartHeight = this.isMobile ? '300px' : '400px';
              // 重新渲染图表
              this.drawPieChart();
              // this.drawBoxPieChart();
              this.drawLineChart();
          },
          detectMobile() {
              // 使用简单的宽度判断来检测移动端
              return window.innerWidth <= 768;
          },
          beforeDestroy() {
              // 移除窗口大小变化监听
              window.removeEventListener('resize', this.handleResize);
          }
      }
  });
</script>
</body>
</html>
