<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="boxData" th:fragment="boxDataPage">

    <el-row :gutter="10">
        <div>
            <el-date-picker
                    style="width: 100%;"
                    v-model="selectedBoxDate"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期"
                    @change="handleSelectBoxDateChange">
            </el-date-picker>
        </div>
    </el-row>
    <el-row :gutter="10">
        <el-divider>盲盒数据（电池）</el-divider>
    </el-row>
    <el-row :gutter="10">
        <!--            <div id="boxChart"  :style="{ width: chartWidth, height: chartHeight }" class="col"></div>-->
        <el-table :data="boxDataList" style="width: 100%" show-summary
                  stripe
                  border
                  max-height="600"
                  :default-sort = "{prop: 'balance', order: 'ascending'}" v-loading="loading">
            <!--                <el-table-column label="uid" prop="user_id"></el-table-column>-->
            <el-table-column label="用户" prop="user_name" sortable show-overflow-tooltip></el-table-column>
            <el-table-column label="盲盒" prop="box_name" sortable></el-table-column>
            <el-table-column label="数量" prop="num" sortable></el-table-column>
            <el-table-column label="投喂" prop="actualPrice" sortable></el-table-column>
            <el-table-column label="盈亏" prop="balance" sortable>
                <template slot-scope="scope">
                    <el-link type="success" v-if="scope.row.balance > 0" >{{scope.row.balance}}</el-link>
                    <el-link type="danger" v-if="scope.row.balance < 0" >{{scope.row.balance}}</el-link>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

</div>

</body>
</html>